# Retail Data Analytics Assignment

**Tools Used:** Pandas, NumPy, Matplotlib, Seaborn

---

## Load Dataset

In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/content/Retail Data.csv")
df.head()

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,4293-1,02-09-2014,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,$156.50,$300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55"
1,5001-1,24-10-2015,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,$0.24,$1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91
2,5004-1,13-03-2014,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58
3,5009-1,18-02-2013,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,$5.33,$8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92
4,5010-1,13-09-2014,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,$1.53,$2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97

## 1. Dataset Structure

In [4]:

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order No           5000 non-null   object
 1   Order Date         5000 non-null   object
 2   Customer Name      5000 non-null   object
 3   Address            4999 non-null   object
 4   City               5000 non-null   object
 5   State              5000 non-null   object
 6   Customer Type      5000 non-null   object
 7   Account Manager    5000 non-null   object
 8   Order Priority     5000 non-null   object
 9   Product Name       5000 non-null   object
 10  Product Category   5000 non-null   object
 11  Product Container  5000 non-null   object
 12  Ship Mode          5000 non-null   object
 13  Ship Date          5000 non-null   object
 14  Cost Price         5000 non-null   object
 15  Retail Price       5000 non-null   object
 16  Profit Margin      5000 non-null   object
 17  Order Quantity     4999 non-null   float64
 18  Sub Total          5000 non-null   object
 19  Discount %         5000 non-null   object
 20  Discount $         5000 non-null   object
 21  Order Total        5000 non-null   object
 22  Shipping Cost      5000 non-null   object
 23  Total              5000 non-null   object
dtypes: float64(1), object(23)
memory usage: 937.6+ KB

Order No             0
Order Date           0
Customer Name        0
Address              1
City                 0
State                0
Customer Type        0
Account Manager      0
Order Priority       0
Product Name         0
Product Category     0
Product Container    0
Ship Mode            0
Ship Date            0
Cost Price           0
Retail Price         0
Profit Margin        0
Order Quantity       1
Sub Total            0
Discount %           0
Discount $           0
Order Total          0
Shipping Cost        0
Total                0
dtype: int64

**Insight:** The dataset structure shows column names, data types, and missing values, helping identify cleaning requirements.

## 2. Shape of Dataset

In [5]:

df.shape

(5000, 24)

**Insight:** The shape indicates the total number of records and attributes available for analysis.

## 3. Duplicate Records

In [6]:

df.duplicated().sum()

np.int64(0)

**Insight:** Duplicate records can affect revenue and quantity calculations if not handled properly.

## 4. Missing or Corrupted Entries

In [7]:

df[['Order Date','Ship Date']].isnull().sum()

Order Date    0
Ship Date     0
dtype: int64

**Insight:** Missing or corrupted dates can impact shipping duration and delivery analysis.

## 5. Convert Dates to Datetime

In [8]:

df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')

**Insight:** Converting to datetime allows time-based calculations.

## 6. Inconsistent Shipping Dates

In [10]:

df[df['Ship Date'] < df['Order Date']]

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
204,5106-1,2014-04-09,Cyma Kinney,"Sydney Fish Market, Bank Street, Sydney",Sydney,NSW,Small Business,Phoebe Gour,High,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,29.0,"$11,447.56",3%,"$1,123.97","$11,146.33",$7.18,"$11,183.15"
764,5274-1,2014-07-10,Cindy Chapman,"53-55 Liverpool St,Sydney",Sydney,NSW,Small Business,Tina Carlton,High,"Artisan Flip-Chart Easel Binder, Black",...,$13.88,$22.38,$8.50,41.0,$573.56,2%,$0.00,$535.08,$15.10,$588.58
765,5274-1,2014-06-10,Eric Barreto,"359 Crown Street,Surry Hills",Sydney,NSW,Consumer,Phoebe Gour,Low,Wirebound Voice Message Log Book,...,$2.90,$4.76,$1.86,34.0,$129.40,3%,$5.95,$126.81,$0.88,$128.84
863,5292-1,2014-04-10,Eric Barreto,"359 Crown Street,Surry Hills",Sydney,NSW,Corporate,Phoebe Gour,High,Artisan Reinforcements for Hole-Punch Pages,...,$1.19,$1.98,$0.79,16.0,$43.20,10%,$0.00,$43.20,$4.77,$50.48
1292,5396-1,2014-12-02,Julie Prescott,"438 Victoria Avenue,Chatswood",Sydney,NSW,Small Business,Natasha Song,Not Specified,Colored Envelopes,...,$2.25,$3.69,$1.44,49.0,$73.80,7%,$5.90,$67.90,$2.50,$70.40
1322,5403-1,2013-09-08,Nancy Lomonaco,"523 King St,Newtown",Sydney,NSW,Home Office,Aanya Zhang,High,Steady 52201 APSCO Electric Pencil Sharpener,...,$16.80,$40.97,$24.17,23.0,$546.12,1%,$27.26,$512.68,$8.99,$523.99
1421,5430-1,2015-04-12,Cari Schnelling,"273 George Street,Sydney",Sydney,NSW,Home Office,Leighton Forrest,Critical,Assorted Color Push Pins,...,$0.87,$1.81,$0.94,36.0,$80.64,1%,$8.06,$72.58,$0.75,$73.58
1513,5457-1,2014-03-04,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Home Office,Aanya Zhang,High,OIC Bulk Pack Metal Binder Clips,...,$2.13,$3.49,$1.36,16.0,$160.52,10%,$1.61,$158.93,$0.76,$159.69
1514,5457-1,2014-03-04,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Small Business,Aanya Zhang,Not Specified,OIC Bulk Pack Metal Binder Clips,...,$3.95,$6.08,$2.13,27.0,$160.54,3%,$1.61,$158.93,$1.82,$159.69
1594,5479-1,2015-03-03,Anne McFarland,"834 Bourke St,Waterloo",Sydney,NSW,Small Business,Charlie Bui,Not Specified,Artisan Poly Binder Pockets,...,$2.26,$3.58,$1.32,49.0,$212.80,8%,$8.26,$217.10,$5.47,$237.09
1963,5603-1,2014-09-08,Kean Takahito,"21 Wentworth St,Parramatta",Sydney,NSW,Home Office,Aanya Zhang,Medium,TechSavi Internet Navigator Keyboard,...,$6.51,$30.98,$24.47,8.0,"$1,059.74",7%,$30.93,"$1,111.77",$6.50,"$1,118.37"
2057,5635-1,2015-03-02,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Small Business,Aanya Zhang,Not Specified,"Alto Parchment Paper, Assorted Colors",...,$4.59,$7.28,$2.69,49.0,$203.49,4%,$6.10,$197.39,$11.15,$303.70
2098,5646-1,2015-03-02,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Home Office,Aanya Zhang,Medium,Artisan 481 Labels,...,$1.94,$3.08,$1.14,41.0,$119.50,1%,$4.95,$115.59,$0.99,$116.40
2316,5722-1,2014-12-08,Dave Hallsten,"1 John St,Waterloo",Sydney,NSW,Corporate,Charlie Bui,Not Specified,Artisan 474 Labels,...,$1.84,$2.88,$1.04,8.0,$96.57,0%,$8.69,$87.88,$0.99,$88.38
2450,5781-1,2015-03-02,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Corporate,Aanya Zhang,Critical,"DrawIt Colored Pencils, 48-Color Set",...,$21.56,$36.55,$14.99,42.0,"$1,254.30",7%,$62.72,"$1,191.59",$13.89,"$1,197.86"
2761,5907-1,2015-11-09,Katherine Ducich,"61A Bay Road,Wollstonecraft",Sydney,NSW,Home Office,Samantha Chairs,Medium,Pizazz Colored Pencils,...,$1.76,$2.94,$1.18,1.0,$61.33,5%,$4.27,$60.99,$0.81,$62.36
2841,5934-1,2015-03-02,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Home Office,Aanya Zhang,Not Specified,Alto Memo Cubes,...,$3.32,$5.18,$1.86,34.0,$48.42,0%,$4.35,$44.47,$2.04,$45.57
2926,5949-1,2015-03-03,Anne McFarland,"834 Bourke St,Waterloo",Sydney,NSW,Corporate,Charlie Bui,Not Specified,Artisan 487 Labels,...,$2.29,$3.69,$1.40,35.0,$121.72,3%,$8.56,$113.76,$0.50,$115.10
3240,6076-1,2016-08-11,Victoria Pisteka,"Westfield Sydney,Sydney",Sydney,NSW,Home Office,Natasha Song,Low,Security-Tint Envelopes,...,$4.89,$7.64,$2.75,6.0,$56.40,4%,$2.24,$51.08,$1.39,$54.67
3325,6111-1,2016-03-02,Tom Stivers,"21 Wentworth St,Parramatta",Sydney,NSW,Home Office,Aanya Zhang,Not Specified,Smiths General Use 3-Ring Binders,...,$1.18,$1.88,$0.70,39.0,$206.62,8%,$20.66,$193.04,$1.49,$199.44
3897,6279-1,2016-03-11,Victoria Pisteka,"Westfield Sydney,Sydney",Sydney,NSW,Corporate,Natasha Song,Not Specified,Pizazz Colored Pencils,...,$1.76,$2.94,$1.18,23.0,$28.70,5%,$2.01,$26.69,$0.81,$31.70
4168,6332-1,2017-07-02,Cindy Chapman,"53-55 Liverpool St,Sydney",Sydney,NSW,Corporate,Tina Carlton,Not Specified,Artisan 481 Labels,...,$1.94,$3.08,$1.14,44.0,$12.60,3%,$2.09,$12.34,$0.99,$12.24
4376,6389-1,2015-03-05,Chad McGuire,"3 Orwell St,Potts Point",Sydney,NSW,Corporate,Leighton Forrest,Critical,UGen Ultra Cordless Optical Suite,...,$54.52,$100.97,$46.45,8.0,"$2,359.65",8%,$230.79,"$2,296.57",$7.18,"$2,404.55"
4685,6482-1,2016-09-11,Cassandra Brandow,"106 Ebley Street,Bondi Junction",Sydney,NSW,Corporate,Leighton Forrest,Critical,"Creator Anti Dust Chalk, 12/Pack",...,$1.09,$1.82,$0.73,8.0,$72.80,4%,$3.64,$69.16,$1.00,$70.16

**Insight:** Orders with ship dates earlier than order dates indicate data quality issues.

## 7. Convert Price Columns to Numeric

In [44]:
price_cols = ['Cost Price','Shipping Cost','Total','Discount %']
for col in price_cols:
    # Only apply string cleaning if the column is of object type (string)
    if df[col].dtype == 'object':
        if col in ['Cost Price', 'Shipping Cost', 'Total']:
            # Remove '$' and ','
            df[col] = df[col].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)
        elif col == 'Discount %':
            # Remove '%'
            df[col] = df[col].astype(str).str.replace('%', '', regex=False)
    # Convert to float, coercing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')
df[price_cols].dtypes

Cost Price       float64
Shipping Cost    float64
Total            float64
Discount %       float64
dtype: object

**Insight:** Cleaning price columns ensures accurate calculations.

## 8. Unique Customer Type & Order Priority

In [18]:

df['Customer Type'].unique(), df['Order Priority'].unique()

(array(['Small Business', 'Corporate', 'Consumer', 'Home Office'],
       dtype=object),
 array(['Critical', 'Medium', 'Not Specified', 'Low', 'High'], dtype=object))

**Insight:** Shows customer segmentation and priority levels.

## 9. Most Common Shipping Modes

In [19]:

df['Ship Mode'].value_counts()

Ship Mode
Regular Air       4236
Express Air        647
Delivery Truck     117
Name: count, dtype: int64

**Insight:** Helps understand logistics preferences.

## 10. Cities with Highest Orders

In [20]:

df['City'].value_counts().head()

City
Sydney       3584
Melbourne    1416
Name: count, dtype: int64

**Insight:** High-order cities are key revenue markets.

## 11. Range of Quantities & Prices

In [22]:

df[['Order Quantity','Cost Price','Total']].describe()

       Order Quantity   Cost Price        Total
count     4999.000000  5000.000000   5000.00000
mean        26.483097    20.394022    746.30728
std         14.391863    57.137204   2283.42573
min          1.000000     0.240000      2.85000
25%         13.000000     1.840000     63.46000
50%         27.000000     3.500000    137.50500
75%         39.000000     8.845000    407.09750
max         50.000000   377.990000  26725.06000

**Insight:** Shows spread and outliers.

## 12. Shipping Duration

In [23]:

df['Shipping Duration'] = (df['Ship Date'] - df['Order Date']).dt.days
df['Shipping Duration'].describe()

count    1537.000000
mean       50.469746
std        45.734435
min      -335.000000
25%        30.000000
50%        59.000000
75%        61.000000
max       394.000000
Name: Shipping Duration, dtype: float64

**Insight:** Indicates delivery efficiency.

## 13. Invalid Totals or Quantities

In [24]:

df[(df['Total'] <= 0) | (df['Order Quantity'] <= 0)]

Empty DataFrame
Columns: [Order No, Order Date, Customer Name, Address, City, State, Customer Type, Account Manager, Order Priority, Product Name, Product Category, Product Container, Ship Mode, Ship Date, Cost Price, Retail Price, Profit Margin, Order Quantity, Sub Total, Discount %, Discount $, Order Total, Shipping Cost, Total, Shipping Duration]
Index: []

[0 rows x 25 columns]

**Insight:** Such records require validation or removal.

## 14. Discount Validation

In [27]:
if df['Cost Price'].dtype == 'object':
    df['Cost Price'] = df['Cost Price'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

if df['Discount %'].dtype == 'object':
    df['Discount %'] = df['Discount %'].astype(str).str.replace('%', '', regex=False).astype(float)

# Assuming 'Discount' in the original code refers to 'Discount $'
if 'Discount $' in df.columns and df['Discount $'].dtype == 'object':
    df['Discount $'] = df['Discount $'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

df['Calculated Discount'] = (df['Cost Price'] * df['Order Quantity']) * df['Discount %'] / 100
df[['Discount $','Calculated Discount']].head()

   Discount $  Calculated Discount
0      194.83              71.9900
1        0.00               0.0576
2       72.23              75.7980
3        4.35               0.8528
4        5.95               5.2479

**Insight:** Compares stated discounts with calculated values.

## 15. Total Calculation Mismatch

In [30]:

df['Calculated Total'] = (df['Cost Price'] * df['Order Quantity']) - df['Discount %'] + df['Shipping Cost']
df[df['Calculated Total'].round(2) != df['Total'].round(2)]

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,Shipping Duration,Calculated Discount,Calculated Total
0,4293-1,2014-02-09,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,23.0,"$4,533.52",2.0,194.83,"$4,757.22",7.18,4291.55,59.0,71.9900,3604.68
1,5001-1,NaT,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,8.0,$45.20,3.0,0.00,$45.90,0.70,46.91,NaN,0.0576,-0.38
2,5004-1,NaT,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,45.0,$873.32,4.0,72.23,$837.57,7.18,82.58,NaN,75.7980,1898.13
3,5009-1,NaT,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,16.0,$73.52,1.0,4.35,$740.67,6.19,730.92,NaN,0.8528,90.47
4,5010-1,NaT,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,49.0,$138.46,7.0,5.95,$123.77,1.34,125.97,NaN,5.2479,69.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-02-11,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,35.0,$115.40,2.0,10.81,$104.09,0.83,101.22,121.0,2.0860,103.13
4996,6847-1,NaT,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,49.0,"$1,999.69",7.0,143.91,"$1,947.75",19.51,1052.55,NaN,68.0169,984.18
4997,6922-1,NaT,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,19.0,$929.40,9.0,27.88,$901.52,1.99,921.03,NaN,34.5078,376.41
4998,6939-1,NaT,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,23.0,$66.54,5.0,4.46,$63.77,0.50,64.27,NaN,1.8285,32.07
4999,6980-1,2015-12-08,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,31.0,$213.34,0.0,4.67,$216.51,5.01,221.52,NaN,0.0000,113.51

**Insight:** Identifies billing inconsistencies.

## 16. Top 5 Products by Quantity

In [31]:

df.groupby('Product Name')['Order Quantity'].sum().sort_values(ascending=False).head()

Product Name
Artisan 474 Labels                         3395.0
Smiths General Use 3-Ring Binders          3220.0
Artisan 479 Labels                         3039.0
Artisan 481 Labels                         2996.0
Apex Preferred Stainless Steel Scissors    2896.0
Name: Order Quantity, dtype: float64

**Insight:** High-volume products drive demand.

## 17. Revenue by Account Manager

In [32]:

df.groupby('Account Manager')['Total'].sum().sort_values(ascending=False)

Account Manager
Connor Betts          671173.17
Tina Carlton          453891.62
Yvette Biti           379687.12
Nicholas Fernandes    305927.88
Mihael Khan           281948.64
Samantha Chairs       273750.35
Phoebe Gour           249340.81
Natasha Song          242718.26
Aanya Zhang           241344.03
Leighton Forrest      216736.14
Preston Senome        199052.07
Charlie Bui           138153.12
Radhya Staples         61519.53
Stevie Bacata          15879.22
Eanya Zhang              240.69
Oanya Zhang               73.57
Simantha Chairs           55.12
Wicholas Fernandes        39.99
Charlie Buo                5.07
Name: Total, dtype: float64

**Insight:** Highlights top-performing managers.

## 18. Average Shipping Cost by Mode

In [33]:

df.groupby('Ship Mode')['Shipping Cost'].mean()

Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

**Insight:** Identifies cost-effective shipping methods.

## 19 & 20. Most Profitable Product

In [34]:

df.groupby('Product Name')['Total'].sum().sort_values(ascending=False).head(1)

Product Name
Cando PC940 Copier    695199.82
Name: Total, dtype: float64

**Insight:** Shows the product contributing highest revenue.

# Insightful Analysis Questions

## Total Revenue

In [35]:

df['Total'].sum()

np.float64(3731536.4000000004)

**Insight:** Represents overall business performance.

## Revenue by Customer Type

In [36]:

df.groupby('Customer Type')['Total'].sum()

Customer Type
Consumer           675231.65
Corporate         1373796.44
Home Office        851621.96
Small Business     830886.35
Name: Total, dtype: float64

**Insight:** Helps focus on high-value customers.

## Revenue by Order Priority

In [37]:

df.groupby('Order Priority')['Total'].sum()

Order Priority
Critical         694547.97
High             794199.00
Low              640200.14
Medium           784744.63
Not Specified    817844.66
Name: Total, dtype: float64

**Insight:** Shows priority impact on sales.

## Average Profit Margin by Product Category

In [39]:

df['Profit'] = df['Total'] - (df['Cost Price'] * df['Order Quantity'])
df.groupby('Product Category')['Profit'].mean()

Product Category
Furniture          302.113631
Office Supplies    184.696184
Technology         206.552139
Name: Profit, dtype: float64

**Insight:** Identifies profitable categories.

## Shipping Time vs Profit

In [40]:

df[['Shipping Duration','Profit']].corr()

                   Shipping Duration   Profit
Shipping Duration            1.00000 -0.04634
Profit                      -0.04634  1.00000

**Insight:** Correlation indicates if delays affect profit.

## Revenue by City

In [41]:

df.groupby('City')['Total'].sum().sort_values(ascending=False).head()

City
Sydney       2678780.33
Melbourne    1052756.07
Name: Total, dtype: float64

**Insight:** Revenue concentration by location.

## Most Cost-Effective Shipping Mode

In [42]:

df.groupby('Ship Mode')['Shipping Cost'].mean().idxmin()

'Express Air'

**Insight:** Lowest average shipping cost mode.

## Discount vs Profit

In [43]:

df[['Discount %','Profit']].corr()

            Discount %    Profit
Discount %    1.000000 -0.011151
Profit       -0.011151  1.000000

**Insight:** Negative correlation indicates discounts reduce profit.